::root {
	--gray1: #383737;
	--gray2: #5c5a5a;
	--gray3: #857c81;
	--gray4: #b9b9b9;
	--gray5: #e3e2e2;
	--gray6: #f7f8fa;
	--primary1: #681c41;
	--primary2: #824c67;
	--accent1: #dbb365;
	--accent2: #efd197;
	--fontFamily: "'Segoe UI', 'Helvetica Neue',sans-serif";
	--fontSize: 16px;
}


body {
	margin: 0;
	background-color: #f7f8fa;
	font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
}


.app {
	font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	color: #5c5a5a;
}

.header {
	position: fixed;
	box-sizing: border-box;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: #fff;
	border-bottom: 1px solid#e3e2e2;
	box-shadow: 0 3px 7px 0 rgba(110, 112, 114, 0.21);
}

.header__logo {
	font-size: 24px;
	font-weight: bold;
	color: #383737;
	text-decoration: none;
}

.header__search {
	box-sizing: border-box;
	font-family: "'Segoe UI', 'Helvetica Neue',sans-serif";
	font-size: 16px;
	padding: 8px 10px;
	border: 1px solid #5c5a5a;
	border-radius: 3px;
	color: #5c5a5a;
	background-color: white;
	width: 200px;
	height: 30px;
}

.header__search:focus {
	outline-color: #e3e2e2;
}

.header__signin {
	font-family: 16px;
	font-size: 16px;
	padding: 5px 10px;
	background-color: transparent;
	color: #5c5a5a;
	text-decoration: none;
	font-family: "Segoe UI, Helvetica Neue,sans-serif";
	font-size: 16px;
	padding: 5px 10px;
	background-color: transparent;
	color: #5c5a5a;
	text-decoration: none;
	cursor: pointer;
}

.header__signin span {
	margin-left: 10px
}

.header__signin:focus {
	outline-color: #e3e2e2;
}

.header__user {
	width: 12px;
	opacity: 0.6;
}

.home {
	margin: 50px auto 20px auto;
	padding: 30px 20px;
	max-width: 600px;
}

.home__display {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.home__title {
	font-size: 15px;
	font-weight: bold;
	margin: 10px 0px 5px;
	text-align: center;
	text-transform: uppercase;
}

.primary-button {
	background-color: #824c67;
	border-color: #681c41;
	border-style: solid;
	border-radius: 5px;
	font-size: 16px;
	padding: 5px 10px;
	color: white;
	cursor: pointer;
}

.primary-button:focus {
	background-color: #681c41
}

.primary-button:hover {
	outline-color: #824c67;
}

.primary-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.question-list {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0px 20px;
	background-color: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top: 3px solid #efd197;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
}

.question-list__items {
	border-top: 1px solid #e3e2e2;
}

.question-list__items:first-of-type {
	border-top: none;
}

.question-page {
	text-decoration: none;
	padding: 10px 0px;
}

.question-page__title {
	padding: 10px 0px;
	font-size: 19px;
}

.question-page__content {
	padding-bottom: 10px;
	font-size: 15px;
	color: #5c5a5a;
}

.question-page__time {
	font-size: 12px;
	font-style: italic;
	color: #857c81;
}

.page {
	margin: 6rem auto 20px auto;
	padding: 30px 20px;
	max-width: 600px;
}

.page-title__title {
	font-size: 15px;
	font-weight: bold;
	margin: 10px 0px 5px;
	text-align: center;
	text-transform: uppercase;
}

.home__loading {
	font-size: var(--fontSize);
	font-style: italic;
}

.question-page__card {
	background-color: white;
	padding: 15px 20px 20px 20px;
	border-radius: 4px;
	border: 1px solid var(--gray6);
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
}

.question-page__title {
	font-size: 19px;
	font-weight: bold;
	margin: 10px 0px 5px;
}

.question-page__asked {
	font-size: 12px;
	font-style: italic;
	color: var(--gray3);
}

.answer-list-page {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
}

.answer-list {
	border-top: 1px solid var(--gray5);
}

.answer {
	padding: 10px 0px;
}

.answer-content {
	padding: 10px 0px;
	font-size: 13px;
}

.answer-date {
	font-size: 12px;
	font-style: italic;
	color: var(--gray3);
}

.loader {
	margin-top: 100px;
	text-align: center;
}

.results {
	font-size: 16px;
	font-style: italic;
	margin-top: 0px;
}